.fto{
width: 300px;
height: 200px;

}

.ol{   
  
    display:flex;


    /* flex-direction: row; Row es el valor por defecto */
    /* flex-wrap: wrap; */
    flex-flow: row wrap; /*Primer valor: flex-direction, segundo valor: flex-wrap */
    justify-content: space-evenly;
    align-items: center;
}

.card-footer button{
justify-content: center;
margin: auto;
display: flex;
}
.detalle, .headertext{
    justify-content: center;
    margin: auto;
    display: flex;   
}